@media (max-width: 1120px) {
    .answer-contenido .img-wrapper {
        width: 70%;
    }

    .answer-contenido .img-wrapper-vertical {
        width: 60%;
    }

    .flex-vertical {
        align-items: flex-start;
    }
}

@media (max-width: 768px) {
    .flex-vertical, .flex-horizontal {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .flex-vertical > .img-wrapper {
        width: 80%;
        margin-top: 20px;
    }
}


@media (max-width: 560px) {
    .card-container:hover > .front-wrapper {
        transform: translate(0, -35px);
    }

    .card-container:hover > .back-wrapper {
        transform: translate(0, 35px);
    }

    .answer-contenido .img-wrapper, .answer-contenido .img-wrapper-vertical {
        width: 100%;
    }
}