main {
    margin-top: 10px;
}

/* Questions blocks */
.question-wrapper {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #97f295;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question-wrapper:hover {
    cursor: pointer;
}

.arrow {
    transition: transform 0.3s ease;
}

.arrow.down {
    transform: rotate(-180deg);
}

/* Answers blocks */
.answer-wrapper {
    margin: 0 5px;
    padding: 0 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: max-content;
}

.answer-wrapper.close {
    max-height: 0;
}

.answer-wrapper > .arrow-2 {
    align-self: flex-end;
    padding-bottom: 10px;
}

.answer-wrapper > .arrow-2:hover {
    cursor: pointer;
}

/* Content styles */
.answer-contenido {
    padding: 10px 8vw;
}

p, pre, ul, li, dl, dt, dd {
    font-size: 1.2rem;
}

.answer-contenido p {
    margin: 10px 0;
    text-align: justify;
}

.answer-contenido .title-text {
    text-align: center;
}

.answer-contenido dd {
    margin: 0 0 10px 0;
    text-align: justify
}

.answer-contenido hr {
    margin-top: 15px;
    margin-bottom: 28px;
}

.answer-contenido li {
    margin-left: 20px;
    padding-left: 20px;
}

.answer-contenido pre {
    padding-left: 20px;
    padding-right: 5px;
    background-color: #333333;
    color: #f1f1f1;
    text-wrap: wrap;
    font-size: clamp(1px, 3vw, 16px);;
}

.underlined {
    text-decoration: underline;
}

.large-text {
    font-size: 1.1em;
}

/* Tables styles */
.answer-contenido .table-languages {
    border-collapse: collapse;
    width: 100%;
}

.table-languages th, .table-languages td {
    border: 1px solid #333333;
    padding: 8px;
    font-size: clamp(1px, 1vw, 16px);
}

/* Images styles */
.answer-contenido .img-wrapper {
    width: 55%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.answer-contenido .img-wrapper-vertical {
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.answer-contenido img {
    width: 100%;
}

.flex-vertical, .flex-horizontal {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.flex-vertical > .img-wrapper {
    width: 25%;
    margin: 10px 0 0 0;
}

.flex-horizontal > .img-wrapper {
    width: 80%;
    margin: 15px 0 0 0;
}
